<!-- <ul>
  <li *ngFor="let position of futuresPosition">
    Symbol: {{ position.symbol }}
    Price: {{ position.price }}
    Quantity: {{ position.quanity }}
    Position Size: {{ position.positionSize }}
    Total: {{ position.total }}
    Order Type: {{ position.orderType }}
    Leverage: {{ position.leverage }}
    ID: {{ position.id }}
    <button (click)="closePosition(position.id)">Close</button>
  </li>
</ul> -->
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Symbol</th> 
        <th>Price</th>
        <th>Quanity</th>
        <th>Position Size</th>
        <th>Total</th>
        <th>Order Type</th>
        <th>Leverage</th>
        <th>id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let position of futuresPosition">
        <td>{{position.symbol}}</td>
        <td>{{position.price | currency:'USD':'symbol':'1.0-0' }}</td>
        <td>{{position.quanity | number:'1.2-4' }}</td>
        <td>{{position.positionSize | currency:'USD':'symbol':'1.0-0' }}</td>
        <td>{{position.total | currency:'USD':'symbol':'1.0-0' }}</td>
        <td [ngClass]="{'long': isLong(position), 'short': isShort(position)}">{{getPositionType(position)}}</td>
        <td>{{position.leverage}}</td>
        <td>{{position.id}}</td>
        <button class="button-2" (click)="closePosition(position.id)">Close</button>
      </tr>
    </tbody>
  </table>
</div>
